<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2vvNzLNUZDcWKDT0EYdu8-bT8tO7LpXU</string>
	<key>GCM_SENDER_ID</key>
	<string>483202025518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppRealTime</string>
	<key>PROJECT_ID</key>
	<string>fl-chat-app-real-time</string>
	<key>STORAGE_BUCKET</key>
	<string>fl-chat-app-real-time.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483202025518:ios:7cf0482afe5532de0d77bf</string>
</dict>
</plist>